# Fetched by fetch-bash-posix2.sh, never committed -- GPL-licensed
# (part of bash's own test suite), this project is MIT. See that
# script's own comment, and README.md in this directory, for why.
/bash-posix2.tests
